doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    base(href='/')

    // Favicon
    link(rel='shortcut icon', href='../images/icons/favicon.png', type='image/x-icon')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')

    // Bootstrap
    link(rel='stylesheet', type='text/css', href='../stylesheets/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/css/typeahead_blagajna.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/fonts/font-awesome/css/font-awesome.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    link(href='../stylesheets/css/b.min.css', rel='stylesheet')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js') 

    // Stylesheet
    link(rel='stylesheet', type='text/css', href='../stylesheets/css/style.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/css/nivo-lightbox/nivo-lightbox.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/css/nivo-lightbox/default.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet')

    // SweetAlert CSS
    link(rel="stylesheet", type='text/css', href='stylesheets/css/sweetalert_6_6_9.min.css')
    
block content

// Footer Section
#footer
  .container.text-center
    p
      | © 2018 Abacus Rex. Design by 
      a(href='http://www.abacusrex.rs') Abacus Rex
script(type='text/javascript', src='../javascripts/jquery.1.11.1.js')
script(type='text/javascript', src='../javascripts/bootstrap.js')
script(type='text/javascript', src='../javascripts/nivo-lightbox.js')
script(type='text/javascript', src='../javascripts/jqBootstrapValidation.js')
script(type='text/javascript', src='../javascripts/main.js')
script(type='text/javascript', src='../javascripts/knjigovodja.js')
script(type='text/javascript', src='../javascripts/typeahead.min.js')

// SweetAlert JavaScript
script(type='text/javascript', src='javascripts/sweetalert_6_6_9.min.js')