doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='keywords' content='bezdan,vodovod bezdan,bezdan vodovod,vodovodbezdan,bezdanvodovod')
    title= title
    base(href='/')
    
    // Favicon
    link(rel='shortcut icon', href='images/icons/favicon.png', type='image/x-icon')

    // Bootstrap
    link(rel='stylesheet', type='text/css', href='../stylesheets/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/fonts/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/css/carousel.css')
    link(rel='stylesheet', href='../stylesheets/css/b.min.css')
    link(rel="canonical" href="https://getbootstrap.com/docs/4.0/components/carousel/")

    // Stylesheet
    link(rel='stylesheet', type='text/css', href='stylesheets/css/style.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/css/nivo-lightbox/nivo-lightbox.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/css/nivo-lightbox/default.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')

    // SweetAlert CSS
    link(rel="stylesheet", type='text/css', href='stylesheets/css/sweetalert_6_6_9.min.css')

block content

#login
  .container
    .row
      .col-md-4
        .section-title
          h2 Kontakt Info  
        p Adresa: 25270 Bezdan, Somborski put bb
        .contact-item
          p Telefon: 025/810-369
        .contact-item
          p E-mail: vodovodkom@mts.rs
      .col-md-4
        .section-title
          h2 O nama 
        p Radno vreme: 07-15 časova
        .contact-item(style="width: 250px;")
          p Služba za reklamacije : 025 810-369 u periodu od 07 do 15 časova
        .contact-item
          p Tehnička služba obavlja poslove u kontinuitetu tokom dana - 24 časa, svih 7 dana u nedelji (24/7)
      .col-md-4
        .section-title
          h2 Korisni Linkovi
        p
          a(href='http://bezdanmz.org.rs/' target='_blank') 
            font(style='color: rgba(255,255,255,.65);')
              | http://bezdanmz.org.rs/
          br
        p
          a(href='http://bezdan.rs/' target='_blank') 
            font(style='color: rgba(255,255,255,.65);')
              | http://bezdan.rs/   
          br
        p
          a(href='http://www.eps-snabdevanje.rs/Pages/default.aspx?fbclid=IwAR2PDGE6fKiwj5_xbnR-Gdt8QORUTNiOxEdwHBKVOFxwbNQ2y4lt4oJJlF4' target='_blank') 
            font(style='color: rgba(255,255,255,.65);')
              | http://www.eps-snabdevanje.rs/
          br
        p
          a(href='https://www.planplus.rs/sombor/bezdan/ulice?fbclid=IwAR2stb66OHMTcdOfn0GtusRIiIWys5486BPff0Z3zc9ENNW1sB5mudPugU4' target='_blank') 
            font(style='color: rgba(255,255,255,.65);')
              | https://www.planplus.rs/sombor/bezdan/
// Footer Section
#footer
  .container.text-center
    p
      | © 2018 Abacus Rex D.O.O Design by 
      a(href='http://www.abacusrex.rs', rel='nofollow') Abacus Rex

script(type='text/javascript', src='javascripts/jquery.1.11.1.js')
script(type='text/javascript', src='javascripts/bootstrap.js')
script(type='text/javascript', src='javascripts/nivo-lightbox.js')
script(type='text/javascript', src='javascripts/jqBootstrapValidation.js')
script(type='text/javascript', src='javascripts/main.js')
script(type='text/javascript', src='javascripts/free.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

// SweetAlert JavaScript
script(type='text/javascript', src='javascripts/sweetalert_6_6_9.min.js')