.typeahead,
.tt-query,
.tt-hint {
  font-size: 15px;
  outline: none;
  width: 100%;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 250px;
  margin-top: 3px;
  padding: 8px 0;
}

.tt-suggestion {
  padding: 3px 10px;
  font-size: 15px;
  line-height: 24px;
  color: black;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
  font-size: 15px;
  text-align: left;
}

.twitter-typeahead {
  width: 100%;
}